h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

body.dark {
  background-color: #020617;
  color: white;
}

body.light {
  background-color: #f1f5f9;
  color: #0f172a;
}

body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color: #0f172a;
  color: #ffffff;
  min-height: 100vh;
}

body.dark {
  background-color: #141414;
  color: #f4f4f4;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

/* Paragraph */
p {
  line-height: 1.5;
}

/* Buttons */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}
