* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.login-box {
  background: #0b0808;
  width: 350px;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-form button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #667eea;
  color: white;
  cursor: pointer;
}
